* {
  box-sizing: border-box;
  font-family: 'Press Start 2p', sans-serif;
}

:root {
  --primary: #ee2a10;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #84ce30;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 